body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px;
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid rgb(212,212,212);
}

table.center {
   margin-left:auto;
   margin-right:auto;
 }

th {
    background-color: steelblue;
    color: white;
    text-align: center;;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
